@import "../../scss/vareables";
@import "../../scss/reset";

* {
  box-sizing: border-box;
}

.menu {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
  &_list {
    margin-bottom: $sp*3;
  }
  &__cart {
    display: flex;
    background: white;

    border-radius: 10px;
    margin-bottom: $sp;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
    // animation: viziblecart  1.2s;
    &-btn {
      display: flex;
      background: $green;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 16px;
      border-radius: 9px;
      width: 34px;
      height: 34px;
      transition: all 0.2s;
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      transition: all 0.2s;
      i {
        color: white;
      }
      &_week {
        font-size: 12px;
        right: 90px;
        background: #AE9671;
      }
      &_plus {
        right: 50px;
      }
      &_minus {
        right: 10px;
      }
      &:hover {
        background: black;
      }
    }
    &-left {
      min-width: 410px;
      max-width: 410px;
      background: url("../../assets/test.jpg") no-repeat;
      background-size: cover !important;
      background-position: center center;
      border-radius: 10px 0 0 10px;
      margin-right: $sp *3;

    }
    &-right {
      padding: 40px 40px 40px 0;
    }
    &-title {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: $sp - 5;
    }
    &-category {
      background: $green;
      top: 15px;
      right: 15px;
      color: white;
      font-size: 12px;
      padding: 3px 10px;
      border-radius: 9px;
      z-index: 100;
      &_time {
        background: $el;
        margin-left: $sp / 3;
      }
      &-wrap {
        display: flex;
        margin-bottom: $sp;
      }
    }
    &-textwrap {
      display: flex;
      font-size: 14px;
    }
    &-textleft {
      &-title {
        font-weight: bold;
        margin-bottom: $sp/2;
      }
      &-text {
        margin-bottom: 10px;
      }
      // *ngIf = "day.dayvalue == activeweekday && day.idcart.length == 0"
    }
    &-textright {
      min-width: 320px;
      max-width: 320px;
      padding-left: $sp*3;
      &-title, &-value {
        background: white;
        padding: 5px;
        position: relative;
        margin-bottom: -8px;
      }
      &-title {
        padding-left: 0;
        font-size: 13px;
      }
      &-value {
        padding-right: 0;
        font-size: 13px;
      }
    }
    &-string {
      display: flex;
      border-bottom: 1px dotted gray;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  }
  &__message {
    display: flex;
    max-width: 1200px;
    margin: 100px auto 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    animation: vizible  .7s;
    div {
      color: white;

      h2 {
        font-weight: bold;
        font-size: 40px;
        margin-bottom: $sp;
      }
    }
    &_btn {
      margin-top: $sp*5;
      padding: 30px 50px !important;
      font-size: 18px;
      transition: all 0.2s;
      cursor: pointer;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
      border-radius: 100px;
      &:hover {
        background: black;
      }
      &-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  &__forweek {
    margin-bottom: 5* $sp;
    &-title {
      color: white;
      text-align: center;
      margin-bottom: $sp *2 - 5;
    }
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 60px 0;

      .btn {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 $sp/2;
        background: none;
        border: 1px solid white;

         i {
           padding: 0;
           margin: 0;
           margin-left: $sp/2;
         }
        &:hover {
          border: 1px solid $green;

        }
        &.active {
          border: 1px solid $green;
          color: white;
          &:hover {
            color: white;
          }
        }
      }
    }
    //предпечать
    &-print {
      .menu {
        &__cart {
          &-left {
            display: none;
          }
          &-right {
            padding: $sp*2;
            flex: 1;
          }
          &-textleft {
            flex: 1;
          }
          &-textwrap {
            flex:1;
          }
          &-textright {
            min-width: 40%;
            min-width: 40%;
          }
        }
      }
    }
  }
}
.weekfilter {
  &__header {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    color: white;
    margin-bottom: $sp*2;
    justify-content: space-between;
    &-item {
      flex: 1;
      text-align: center;
      padding: $sp;
      font-weight: bold;
      cursor: pointer;
      border-bottom: 2px  solid rgba($green, 0);
      transition: all 0.7s;
      &.active {
        border-bottom: 2px solid rgba($green, 1);
      }
    }
  }
  &__content {
    margin: 0 auto;
    max-width: 1200px;
  }
}




@keyframes vizible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes viziblecart {
  from {
    opacity: 0;
    // transform: translateY(30px);
  }
  to {
    opacity: 1;
    // transform: translateY(0px);
  }
}

