@import "../../../scss/vareables";
@import "../../../scss/reset";
* {
  box-sizing: border-box;
}
.recipe {
  width: 800px;
  box-sizing: border-box;
  background: white;
  border-radius: 10px;
  padding: 0;
  position: relative;
  animation: visiblemodal  .7s;

  &__scroll {
    overflow: auto;
    max-height: calc(100vh - 350px);
    padding: 45px;
    padding-top: 0;
    padding-bottom: 0;
  }
  &__content {
  }
  &__title {
    font-size: 33px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: 45px 45px 0 45px
  }
  &__line {
    margin-bottom: $sp;
    
    &-box {
      display: flex;
      // align-items: center;
      align-items: center;
      // justify-content: space-between;
    }
    &-add {
      background: $green;
      color: white;
      width: 60px;
      height: 60px;
      margin-left: $sp/2;
      border-radius: 10px; 
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 48px;
      right: 1px;
      z-index: 10;
      transition: all 0.2s;
      cursor: pointer;
      &:hover {
        background: black;
      }
    }
    &-mini {
      display: flex;
      &-left {
        min-width: 65%;
        margin-right: $sp/2;
      }
      &-right {
        flex: 1;
        &:last-child {
          margin-left: $sp/2;
        }
      }
    }
    &_textarea {
    }
    &-label {
      margin-bottom: $sp/2;
      font-weight: bold;
    }
    &-info {
    }
    &_btn {
      padding-bottom: 45px;
      padding-left: 45px;
      padding-right: 45px;
      margin-bottom: 0;
    }
  }
}
@keyframes visiblemodal {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 767px) {
  .recipe {
    margin-left: 16px;
    margin-right: 16px;
    &__title {
      padding: 30px;
      font-size: 24px;
      margin-bottom: 0;
    }
    &__scroll {
      padding: 30px;
      padding-top: 0;
      max-height: calc(100vh - 255px);
    }
    &__line {
      flex-wrap: wrap;
      &-add {
        left: calc(50% - 30px);
        top: -20px;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      &-mini {
        max-width: 100%;
        min-width: 100%;
        flex-wrap: wrap;

        &-left {
          flex: 1;
          max-width: 100%;
          min-width: 100%;
          flex-wrap: wrap;
          margin: 0;
          margin-bottom: $sp/2;

        }
      }
    }
  }
}
