<header class="header">
    <div class="header__menu-munubtn" (click)="openCloseTopMenu()" [ngClass]="{'active': menuOpen}">
      <i class="mdi mdi-menu" *ngIf="!menuOpen"></i>
      <i class="mdi mdi-close" *ngIf="menuOpen"></i>
    </div>
    <div class="header__mobil-user" *ngIf="emailuser">{{emailuser}}</div>
  <div class="header__menu" [ngClass]="{'active': menuactive, 'active': menuOpen}">
    <div class="header__left">
      <a routerLink="/" routerLinkActive="active" (click)="closeTopMenu()" [routerLinkActiveOptions]="{exact: true}" class="header__menu-item">Каталог блюд</a>
      <a routerLink="/menu/days" routerLinkActive="active" (click)="closeTopMenu()" [routerLinkActiveOptions]="{exact: true}" class="header__menu-item">Мое меню</a>
    </div>
    <div class="header__center">
        <a [routerLink]="['/']"  class="header__center-logo"></a>
      </div>

    <div class="header__right">
        <div class="mob" (click)="setlackyBtn(); closeTopMenu()">Мне повезет</div>
      <div class="" (click)="openModalRecepient(); closeTopMenu()" *ngIf="redactor && authUser">Добавить рецепт</div>
      <div (click)="modalAuth(); closeTopMenu()" *ngIf="!authUser">Вход</div>
      <div class="header__right-user" *ngIf="authUser ">{{emailuser}}</div>
      <div (click)="exitLogin(); closeTopMenu()" *ngIf="authUser">
        <i class="mdi mdi-exit-to-app"></i><span class="header__right-exit">Выход</span>
      </div>
     

    </div>


  </div>
  <div class="header__logo"></div>
</header>

<div class="cart__modal-wrap" *ngIf="modal">
  <div class="cart__modal">
    <div class="cart__modal-close" (click)="modalAuthClose()"><i class="mdi mdi-close"></i></div>
    <div class="auth" *ngIf="auth">
      <div class="auth__title">Авторизация</div>
      <form [formGroup]="authform">
        <div class="auth__line">
          <input type="text" placeholder="E-mail" formControlName="email" required>
        </div>
        <div class="auth__line">
          <input type="text" placeholder="Пароль" formControlName="password" required>
          <div class="auth__error">
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
          </div>
        </div>
        <div class="auth__line auth__line_btns">
          <button class="btn" (click)="trylogin(authform.value)">Войти</button>
          <div class="auth__link" (click)="modalChenge()">Вы новый пользователь</div>
        </div>
      </form>
    </div>
    <div class="auth" *ngIf="reg">
      <div class="auth__title">Регистрация</div>
      <form [formGroup]="regisration">
        <div class="auth__line">
          <input type="text" placeholder="E-mail" formControlName="email" required>
        </div>
        <div class="auth__line">
          <input type="text" placeholder="Пароль" formControlName="password" required>
          <div class="auth__error">
            <label class="error">{{errorMessage}}</label>
            <label class="success">{{successMessage}}</label>
          </div>
        </div>
        <div class="auth__line auth__line_btns">
          <button class="btn" (click)="tryRegister(regisration.value)">Зарегистрироваться</button>
          <div class="auth__link" (click)="modalChenge()">Уже есть аккаунт</div>
        </div>
      </form>
    </div>
  </div>
</div>
<app-add-recipe *ngIf="addrecepi" (onClose)="closeModalRecepient(id)"></app-add-recipe>