input, textarea {
  border-radius: 10px;
  background: #F6F6F6;
  background: white;
  border: 1px solid #DDDDDD;
  padding: 20px 20px;
  font-size: 16px !important;
  width: 100%;
  box-sizing: border-box;
  outline: none;

  &::placeholder {
    color: #a5a7a9;;
    font-size: 16px !important;
  }
}


.mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}

.mat-select {
  //padding: 13px;
}

.mat-form-field {
  width: 100%;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  height: 60px;
}

.mat-form-field-label {
  padding: 0 20px;
  transition: all 0s !important;
}

.mat-select-trigger {
  padding: 0 20px;
}

.mat-form-field-should-float {
  .mat-form-field-label {
    display: none !important;
  }
}

//mat-form-field ng-tns-c45-0 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy
// mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder

//mat-form-field ng-tns-c45-0 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy
// mat-form-field-can-float mat-form-field-has-label mat-form-field-hide-placeholder mat-focused mat-form-field-should-float
