.cart {
  &__modal {
    min-width: 400px;
    border-radius: 20px;
    background: white;
    padding: 30px;
    position: relative;
    animation: visiblemodal 0.7s;
    max-width: 505px;
    box-sizing: border-box;
    &-wrap {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(black, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    &-title {
      font-size: 24px;
      font-weight: bold;
      border-bottom: 1px solid #cccccc;
      margin-bottom: $sp;
      padding-bottom: $sp;
    }
    &-text {
      margin-bottom: $sp;
    }
    &-close {
      position: absolute;
      top: -20px;
      right: -20px;
      transition: color 0.2s;
      cursor: pointer;
      color: white;
      font-size: 24px;
      &:hover {
        color: $green;
      }
    }
    &-week {
      display: flex;
      justify-content: space-between;
    }
    &-day {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      min-height: 55px;
      min-width: 55px;
      max-width: 55px;
      border: 1px solid $green;
      margin: 0 $sp/4;
      transition: all 0.2s;
      cursor: pointer;
      outline: none;
      box-sizing: border-box;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: $green;
        color: white;
      }
    }
  }
}
@keyframes visiblemodal {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 767px) {
  .cart {
    &__modal {
      max-width: 85%;
      min-width: 85%;
      &-close {
        right: 10px;
        top: 10px;
        color: black;
      }
      &-week {
        flex-wrap: wrap;
        justify-content: center;
      }
      &-day {
        // min-height: 32px;
        // min-width: 32px;
        // max-width: 32px;
        // font-size: 12px;
        margin: 0 2px 4px;
        &:last-child {
          margin-right: 2px;
        }
        &:first-child {
          margin-left: 2px;
        }
      }
    }
  }
}
