@import "../../../scss/vareables";
@import "../../../scss/reset";
$coll: 3;
$coll-w: calc((100% - (#{$coll} - 1) * #{$sp}) / #{$coll});


.cat-filter {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  background: white;
  border-radius: 10px;
  margin-bottom: $sp;
  padding: $sp 5*$sp $sp $sp ;
  display: flex;
  position: relative;
  &__item {
    min-width: $coll-w;
    min-width: $coll-w;
    margin-right: $sp;
    &:nth-child(1) {
      min-width: calc(#{$coll-w} + 77px);
      max-width: calc(#{$coll-w} + 77px);
    }
    &:nth-child(2) {
      min-width: calc(#{$coll-w} + 92px);
      max-width: calc(#{$coll-w} + 92px);
    }
    &-wrap {
      display: flex;
      flex: 1;
    }
    &_search {
      position: relative;
      input {
        padding-right: 100px;
      }
      &-btn {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        width: 60px;
        outline: none;
        border: none;
        border-left: 1px solid #DDDDDD;
        bottom: 0;
        cursor: pointer;
        transition: color 0.2s;
        &_close {
          right: 60px;
          border: 0;
        }

        i {
          font-size: 22px;
        }
        &:hover {
          color: $green;
        }
      }
    }

  }
  &__settings {
    position: absolute;
    top: 15px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-left: 1px solid #DDDDDD;

    i {
      font-size: 30px;
    }
  }
}


