<app-catfilter (searchEvent)="FilteredData()" (resetSearch)="resetSearch()"  [listCartId]="CatListId"></app-catfilter>

<div class="preloader" *ngIf="preloader">
  <div class="preloader__status"></div>
</div>




<div class="cat" infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="stopinterscroll" (scrolled)="onScroll()" *ngIf="viewCartList.length > 0">
  <div class="cat__item" id="{{item.Id}}" [class.active]="item.Id == activeItem" [class.big]="item.Id == bigcart"
    *ngFor="let item of viewCartList">
    <div class="cat__category">{{item.Category}} {{item.Id}}</div>
    <div class="cat__img" [ngStyle]="{'background-image': item.Img}">
      <div class="cat__img-bg" (click)="resizecart(item.Id)"></div>
      <div class="cat__btn">
        <div [routerLink]="['/cart', item.Id]" class="cat__btn-size"><i class="mdi mdi-link"></i></div>
        <div class="cat__btn-add" (click)="openmodal(item.Name, item.Id)"><i class="mdi mdi-plus"></i></div>
        <div class="cat__btn-tabs" (click)="switchtabs(item.Id)">
          <i class="mdi mdi-silverware"></i>
          <i class="mdi mdi-playlist-check"></i>
        </div>
      </div>
    </div>
    <div class="cat__tabs">
      <div class="cat__tab cat__tab_one">
        <div class="cat__title" (click)="resizecart(item.Id)">{{item.Name}}</div>
        <div class="cat__title-mini">Ингредиенты</div>
        <div class="cat__list">
          <div class="cat__list-item" *ngFor="let product of item.Ingredients">

            <div class="cat__list-title">{{product[0]}} </div>
            <div class="cat__list-value">{{product[1]}} </div>
          </div>
        </div>
      </div>
      <div class="cat__tab cat__tab_two">
        <div class="cat__title" (click)="resizecart(item.Id)">{{item.Name}}</div>
        <div class="cat__title-mini">Приготовление: <span>{{item.Time}} мин</span></div>
        <div class="cat__text cat__text_big">
          {{item.Comment}}
        </div>
        <div class="cat__text" *ngIf="item.Comment.length < 300">
          {{item.Comment}}
        </div>
        <div class="cat__text" *ngIf="item.Comment.length >= 300">
          {{item.Comment.substring(0, 300) + ' ...'}}
        </div>
      </div>
    </div>
  </div>
</div>



<div class="cart__modal-wrap" *ngIf="modal && CatList.length > 0">
  <div class="cart__modal">
    <div class="cart__modal-close" (click)="closemodal()"><i class="mdi mdi-close"></i></div>
    <div class="cart__modal-title">{{modalName}}</div>
    <div class="cart__modal-text">В какой день добавить блюдо?</div>

    <div class="cart__modal-week">
      <div class="cart__modal-day" *ngFor="let day of modaldays" (click)="addMineMenu(day.value)">
        {{day.name}}
      </div>

    </div>
  </div>
</div>