<div class="cart__modal-wrap">
  <div class="recipe">
    <div class="cart__modal-close" (click)="closeModal()"><i class="mdi mdi-close"></i></div>
    <div class="recipe__title">Добавить рецепт</div>
    <div class="recipe__scroll">


      <div class="recipe__content">

        <div class="recipe__line">
          <div class="recipe__line-info">
            <input type="text" placeholder="Называние блюда">
          </div>
        </div>
        <div class="recipe__line recipe__line_textarea">
          <div class="recipe__line-info">
            <textarea name="" id="" cols="30" rows="5" placeholder="Рецепт"></textarea>
          </div>
        </div>

        <div class="recipe__line">
          <div class="recipe__line-mini">
            <div class="recipe__line-mini-left">
              <div class="recipe__line-info">
                <input type="text" placeholder="Категория">
              </div>
            </div>
            <div class="recipe__line-mini-right">
              <div class="recipe__line-info">
                <input type="text" placeholder="Время">
              </div>
            </div>
          </div>
        </div>



        <div class="recipe__products">
          <div class="recipe__line-add" (click)="addItemRecepient()"><i class="mdi mdi-plus"></i></div>
          <div class="recipe__line">
            <div class="recipe__line-label">
              <div class="recipe__line-box">
                <span>Продукты</span>

              </div>
            </div>
            <div *ngFor="let item of prodictList">

              <app-product [dataItem]="item" (remooveLine)="remooveItemRecepient($event)">
              </app-product>
            </div>

          </div>
        </div>

        
      </div>
    </div>
            <div class="recipe__line recipe__line_btn">
              <button class="btn">Добавить рецепт</button>
            </div>
  </div>
</div>